@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .correct{

    color: green
 }

 .wrong{

    color:red
 }

 .container{
     padding-top: 20px;
 }

 body {

    background-color: #cccccc;
   }

.navbar-nav a:hover  { color: #fff !important;  font-size: 1.25rem}
.navbar-nav a  { color: #fff !important;  font-size: 1.25rem }

.nav-item {
   color: white;
   font-size: 1.25rem;
}
.jumbotron{
   padding: 25px;
   background-color: #343a40;
   color: white
}

.card-header{
   background-color: #343a40;
   color: white
}



html {
   height:100%;
 }
 
 body {
   margin:0;
 }
 
 .bg {
   animation:slide 3s ease-in-out infinite alternate;
   background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
   bottom:0;
   left:-50%;
   opacity:.5;
   position:fixed;
   right:-50%;
   top:0;
   z-index:-1;
 }
 
 .bg2 {
   animation-direction:alternate-reverse;
   animation-duration:4s;
 }
 
 .bg3 {
   animation-duration:5s;
 }
 
 .content {
   background-color:rgba(255,255,255,.8);
   border-radius:.25em;
   box-shadow:0 0 .25em rgba(0,0,0,.25);
   box-sizing:border-box;
   left:50%;
   padding:10vmin;
   position:fixed;
   text-align:center;
   top:50%;
   transform:translate(-50%, -50%);
 }

 
 @keyframes slide {
   0% {
     transform:translateX(-25%);
   }
   100% {
     transform:translateX(25%);
   }
 }
